* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: var(--font-first);
  color: var(--main-color);
  background: var(--bg);
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include media(1200) {
    max-width: 960px;
  }

  @include media(992) {
    max-width: 720px;
  }

  @include media(768) {
    max-width: 540px;
  }
}

.title {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  padding: 100px 0;
}